* {
    box-sizing: border-box;
}

:root {
--primary: #351C75;
--secondary: #C36EEA;
--grey: #9E9E9E;
}

body {
    font-family: Arial;
    font-size: 120%;
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

.scores, .timer {
    display: inline;
}

.timer {
    float: right;
}

.wrapper {
    margin-top: 80px;
}

.centered-text {
    text-align: center;
}

.centered-btn {
    margin: 0 auto;
    display: block;
}

.purple-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 100%;
    cursor: pointer;
}

.purple-btn:hover {
    background-color: var(--secondary);
}

.wide-btn {
    width: 250px;
    text-align: left;
    margin-bottom: 10px;
}

.smaller-btn {
    padding: 5px 20px;
}

div.feedback, .question-screen, .end-screen {
    width: 50%;
    margin: 0 auto;
}

p.feedback {
    font-size: 150%;
    font-style: italic;
    color: var(--grey);
    border-top: 2px solid var(--grey);
    padding-top: 10px;
}

.btn-wrap {
    width: fit-content;
}

.end-screen input {
    font-size: 100%;
    margin-right: 10px;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    div.feedback, .question-screen, .end-screen {
        width: 100%;
    }
}